{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="{% static '/estilosCate.css' %}">
    <title>Habitools</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <img src = "{% static 'media/logo1.png' %} " width="250px" height="115px">
        </a>
        <ul class="side-menu">
            <li><a href="home.html"><i class='bx bxs-dashboard'></i>Home</a></li>
            <li><a href="Calendar.html"><i class='bx bx-store-alt'></i>Calendar</a></li>
            <li><a href="habits.html"><i class='bx bx-analyse'></i>Habits</a></li>
            <li><a href="progress.html"><i class='bx bx-message-square-dots'></i>progress</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>y¿

    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Habits</h1>
                    <ul class="breadcrumb">
                    </ul>
                </div>
            </div>  
            <div class="categorias">
                {% for categoria, habitos in categorias.items %}
                    <div class="categoria" id="{{ categoria }}">
                        <div class="titulo-categoria">Hábitos de {{ categoria }}</div>
                            <ul>
                        {% for habito in habitos %}
                            <li>{{ habito }}</li>
                        {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                    <center>
                    <div id="seleccion">
                        <h2>Selecciona una categoría y un hábito:</h2>
                        <select id="categorias" onchange="cambiarOpciones()">
                            <option>Selecciona un habito</option>
                            <option value="salud">Salud y Bienestar</option>
                            <option value="personal">Desarrollo Personal</option>
                            <option value="social">Relaciones y Sociales</option>
                        </select>
                        <select id="habitos">
                        
                        </select>
                    </center> 
                <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                <a href="mis_habits.html"><i class="btn"></i>Ir a mis habitos</a></li>
                    <h2>Recuerda que estas son nuestras categorias:</h2>
                        <div class="categorias">
                            <div class="categoria">
                                <div class="titulo-categoria">Hábitos de Salud y Bienestar</div>
                                <ul>
                                    <li>Hidratación</li>
                                    <li>Ejercicio Regular</li>
                                </ul>
                            </div>
                            
        
                            <div class="categoria">
                                <div class="titulo-categoria">Hábitos de Desarrollo Personal</div>
                                <ul>
                                    <li>Hábito de Ahorro</li>
                                    <li>Hábito de Lectura</li>
                                </ul>
                            </div>
        
                            <div class="categoria">
                                <div class="titulo-categoria">Hábitos de Relaciones y Sociales</div>
                                <ul>
                                    <li>Tiempo de Calidad con la Familia</li>
                                    <li>Conexiones Sociales</li>
                                </ul>
                            </div>    
                    </div>
                    </div>
            </div>                    
    </div>
    <script src="{% static '/Categorias.js' %}"></script>
    <script src="{% static '/index.js' %}"></script>
    <script>
        function cambiarOpciones() {
          var categorias = document.getElementById("categorias");
          var habitosSelect = document.getElementById("habitos");
          var opciones = habitosSelect.getElementsByTagName("option");
    
          for (var i = opciones.length - 1; i >= 0; i--) {
            opciones[i].remove();
          }

          switch (categorias.value) {
            case "salud":
              agregarOpcion("Hidratación", "Hidratación");
              agregarOpcion("Regular", " Ejercicio Regular");
              break;
            case "personal":
              agregarOpcion("Ahorro", "Hábito de Ahorro");
              agregarOpcion("Lectura", "Hábito de Lectura");
              break;
            case "social":
              agregarOpcion("Tiempo", "Tiempo de Calidad con la Familia");
              agregarOpcion("Conexiones", "Conexiones Sociales");
              break;
            default:
              break;
          }
        }

        function agregarOpcion(valor, texto) {
            var nuevaOpcion = document.createElement("option");
            nuevaOpcion.value = valor;
            nuevaOpcion.text = texto;
            document.getElementById("habitos").add(nuevaOpcion);
          }
    
      </script>
    
</body>
</html>