{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="{% static '/estilosI.css' %}">
    <link rel="stylesheet" href="{% static '/estilosCate.css' %}">
    <title>Habitools</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
            <img src = "{% static 'media/logo1.png' %} " width="250px" height="115px">
        </a>
        <ul class="side-menu">
            <li><a href="index.html"><i class='bx bxs-dashboard'></i>Home</a></li>
            <li><a href="Calendar.html"><i class='bx bx-store-alt'></i>Calendar</a></li>
            <li><a href="habits.html"><i class='bx bx-analyse'></i>Habits</a></li>
            <li><a href="progress.html"><i class='bx bx-message-square-dots'></i>progress</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="images/logo.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Home</h1>
                    <ul class="breadcrumb">
                    </ul>
                </div>
                
            </div>

            <div>
            <header>
                <h1>Bienvenido a Nuestra App de Hábitos Saludables</h1>
                <p>Tu camino hacia una vida más saludable comienza aquí.</p>
            </header>

            <section id="about">
                <img src = "{% static 'media/logo1.png' %} " width="250px" height="115px">
                <h2>¿Quiénes Somos?</h2>
                <p>Somos un equipo comprometido a ayudarte a adoptar y mantener hábitos saludables en tu vida. Habitools está diseñada para proporcionarte las herramientas y el apoyo que necesitas para lograr tus objetivos de bienestar.</p>
            </section>

            <section id="importance">
                <img src = "{% static 'media/imagen2.png' %} ">
                <h2>¿Por qué es Importante Adoptar Hábitos Saludables?</h2>
                <p>La adopción de hábitos saludables es esencial para una vida plena y equilibrada. Ayuda a prevenir enfermedades, aumenta tu energía, mejora tu estado de ánimo y te permite disfrutar de una mayor calidad de vida. Nuestra app te guiará en el proceso de cambio hacia una vida más saludable. ya que nos basamos en el libro de "Los hábitos atómicos" de James Clear el cual es un libro que ofrece muchas ideas sobre cómo establecer hábitos saludables.</p>
                <p><b>Algunos de nuestros habitos que puedes llevar a cabo con nosostros son:</b></p>
            </section>
            </div>
        
            <div class="categorias">
                    <div class="categoria">
                        <div class="titulo-categoria">Hábitos de Salud y Bienestar</div>
                        <ul>
                            <li>Hidratación</li>
                            <li>Ejercicio Regular</li>
                        </ul>
                    </div>
                    

                    <div class="categoria">
                        <div class="titulo-categoria">Hábitos de Desarrollo Personal</div>
                        <ul>
                            <li>Hábito de Ahorro</li>
                            <li>Hábito de Lectura</li>
                        </ul>
                    </div>

                    <div class="categoria">
                        <div class="titulo-categoria">Hábitos de Relaciones y Sociales</div>
                        <ul>
                            <li>Tiempo de Calidad con la Familia</li>
                            <li>Conexiones Sociales</li>
                        </ul>
                    </div>    
            </div>

            <footer>
                <p>&copy; 2023 Habitools</p>
            </footer>
            </div>

        </main>

    </div>

    <script src="{% static '/index.js' %}"></script>

</body>
</html>
